{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- styles block -->
{% block styles%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}


   <!-- content block -->
    {% block content %}
    <body>
      
      <h3>
        General
      </h3>
      <ul>
        {{macro.displayNewsList(general)}}

      </ul>
      <!-- business -->
      <h3>
        Business
      </h3>
      <ul>
        {{macro.displayNewsList(business)}}

      </ul>
      <!-- sports -->
      <h3>
        Sports
      </h3>
      <ul>
        {{macro.displayNewsList(sports)}}
      </ul>
      <!-- entertainment -->
      <h3>
        Entertainment
      </h3>
      <ul>
        {{macro.displayNewsList(entertainment)}}
      </ul>

      <!-- science -->
      <h3>
        Science
      </h3>
      <ul>
        {{macro.displayNewsList(science)}}
      </ul>
      <!-- health -->
      <!-- <h3>
        Health
      </h3>
      <ul>
        {{macro.displayNewsList(health)}}
      </ul> -->
       <!-- Technology -->
       <h3>
        Technology
      </h3>
      <ul>
        {{macro.displayNewsList(technnology)}}
      </ul>
      {% endblock%}

    
